
<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>
          Regístrate en Conectio
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div [formGroup]="registrarForm" class="register-form">
      <ion-list>
          <ion-item>
            <ion-input label="Username:" formControlName="username"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Nombre:" formControlName="nombre"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Apellidos:" formControlName="apellidos"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Email:" formControlName="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Contraseña:" formControlName="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Confirmar contraseña:" formControlName="password"></ion-input>
          </ion-item>

          <ion-button expand="block" color="primary" class="button" (click)="registrar()">Registrarse</ion-button>
      </ion-list>
  </div>
</ion-content>