<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Inicio
        </ion-title>

        <!--Botón para ir a los datos del usuario-->
        <ion-icon slot="end" size="large" name="person-circle-outline" [routerLink]="['../../datos-usuario']"></ion-icon>

        <ion-item slot="end">
            <ion-button color="primary" [routerLink]="['register']">Register</ion-button>
        </ion-item>

        <!-- <ion-item slot="end">
            <ion-button color="primary" (click)="register()">Register</ion-button>
        </ion-item> -->

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Qwerty</ion-title>
        </ion-toolbar>

        <app-explore-container name="Inicio"></app-explore-container>
    </ion-header> -->
    <ion-searchbar animated="true" placeholder="Buscar"></ion-searchbar>

      <ion-content>
        <ion-card *ngFor="let evento of eventos">
          <ion-card-header>
            <ion-card-title>{{ evento.titulo }}</ion-card-title>
            <ion-card-subtitle>{{ evento.usuario }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ evento.descripcion }}
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="errorOcurred">
          <img alt="problemas técnicos" src="assets\imagenes\problemas-tecnicos.jpg" />
          <ion-card-header>
            <ion-card-title>Error Técnico</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Hubo un problema técnico al cargar los eventos.<hr> Por favor, inténtalo de nuevo más tarde.
          </ion-card-content>
        </ion-card>

        tarjeta de modelo de evento
        <ion-card>
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
          <!-- <ion-note color="medium">Unsubscribe at any time</ion-note> -->
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
          <!-- <ion-note color="medium">Unsubscribe at any time</ion-note> -->
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
          <!-- <ion-note color="medium">Unsubscribe at any time</ion-note> -->
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card>
      </ion-content>
      <!-- <ion-list>
        <ion-item>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list> -->
    <!-- <ion-card *ngFor="let carta of cartas">
        <ion-card-header>
          {{ carta.titulo }}
        </ion-card-header>
        <ion-card-content>
          {{ carta.contenido }}
        </ion-card-content>
    </ion-card> -->
      
    
</ion-content>